*{
  margin: 0;
  padding: 0;
  font-family: 'Oswald', sans-serif;
  color: white;
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  background-color: #050115;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

textarea{
  color: black !important;
}

nav{
  width: 100%;
  padding-top: 20px;
  height: 80px;
  display: flex;
  align-items: center;
}
#logo{
  padding-right: 10px;
  color: white;
  transition-duration: 0.3s;
  display: inline-block;
}
#logo:hover{
  text-decoration: none;
  color: #F6C6F7;
  /* background-color: #1B2762; */
}
#slogan{
  background-color: inherit;
  font-size: 0.5em;
  letter-spacing: -1px;
}
h1{
  padding-left: 50px;
  font-size: 3em;
  font-weight: 300;
}

footer *{
  font-family: monospace !important;
}
footer{
  height: 180px;
  padding: 30px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: black;
}
.created-by{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 16px;
}
.flexing-container{
  display: flex;
  flex-direction: row;
}
.flexing-container .technologies{
  margin-right: 100px;
}
.flexing-container .technologies ul{
  columns: 2;
}
.flexing-container ul li{
  list-style: none;
}
label{
  margin-bottom: 16px;
}
.button-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.btn{
  /* height: 25px; */
  margin: 10px 0 !important;
  margin-bottom: 15px !important;
}
