{% extends "blog/base.html" %}
{% load static %}
{% load filter %}
{% block links %}
  <link rel="stylesheet" href="{% static 'blog/home.css' %}">
  <link rel="stylesheet" href="{% static 'blog/home-media.css' %}">
{% endblock links %}
{% block content %}
    <div class="preview">
      <div class="card"">
        {% for movie in movies %}
        {% with movie_count|substract:forloop.counter as number %}
        <div class="card_part card_part-{{number}}" style="z-index:{{ number }};animation-delay: {{ number|create_delay:7 }}s; animation-duration: {{ movie_count|create_delay:7 }}s;">
          <div class="image" style="background: linear-gradient(90deg, rgba(41,29,17,0.4) 20%, rgba(23,35,52,0.3) 80%, black 100%), url('{{ movie.picture }}');">
          </div>
          <div class="info image-mobile" style="background: linear-gradient(90deg, rgba(41,29,17,0.55) 0%, rgba(23,35,52,0.7) 100%), url('{{ movie.picture }}');">
            <h2 class="title">{{ movie.title }}</h2>
            <h3 class="slogan">{{ movie.slogan }}</h3>
            <div class="genres">
              {% with movie.genres|split:", " as genres %}
                {% for genre in genres %}
                  <span class="genre">{{ genre }}</span>
                {% endfor %}
              {% endwith %}
            </div>
          </div>
        </div>
        {% endwith %}
        {% endfor %}
      </div>
      <div class="container">
      <h2>Upcoming Events</h2>
      <ul class="responsive-table">
        <li class="table-header">
          <div class="col col-1">Movie title</div>
          <div class="col col-2">Date</div>
          <div class="col col-3">Theater</div>
          <div class="col col-4">Tickets</div>
        </li>
        {% for showtime in showtimes %}
        <li class="table-row">
          <div class="col col-1">{{ showtime.movie.title }}</div>
          <div class="col col-2">{{ showtime.date|date:"H:i d M" }}</div>
          <div class="col col-3">{{ showtime.theater.title }}</div>
          <div class="col col-4"><a href="post/{{ showtime.id }}"><span>Book here</span></a></div>
        </li>
        {% endfor %}
      </ul>
    </div>
    </div>
{% endblock content %}
{% block scripts %}
<script src="{% static "js/jquery.waypoints.min.js" %}"></script>
<script src="/static/js/infinite.min.js"></script>
<script>
  var infinite = new Waypoint.Infinite({
    element: $('.infinite-container')[0],

    offset: 'bottom-in-view',

    onBeforePageLoad: function () {
      $('.loading').show();
    },
    onAfterPageLoad: function () {
      resizeAllGridItems()
      $('.loading').hide();
    }

  });
</script>
{% endblock scripts %}
